.wrapper{
    width:90%;
    margin:auto;
    display:flex;
    flex-direction: column;
}
.header{
    width:5%;
    display:flex;
    padding-left:90%;
    padding-right:5%;
    margin-top:1%;
}
.header a{
    text-align: right;
    margin-left:10%;
    margin-right:10%;

}