.wrapper{
    width:90%;
    margin:auto;
    display:flex;
    flex-direction: column;
    text-align: right;
}
.header{
    width:90%;
    text-align: left;
    display:flex;
    padding-left:5%;
    padding-right:5%;
}
.header h2, a{
    flex-grow: 1;
}
.header a{
    text-align: right;
    margin-top:1%;
}
table{
    border:1px solid black;
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    width:100%;
}
table th{
    border-bottom:1px solid black;
}
.trips h4, .other_trips h4{
    text-align: left;
}
